@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=JetBrains+Mono:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

@layer base {
  body {
    @apply font-mono antialiased;
  }
}

/* Custom Scrollbar */
.custom-scrollbar {
  overflow-anchor: none;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  @apply bg-[#050505];
}

::-webkit-scrollbar-thumb {
  @apply bg-[#1A1A1A] hover:bg-[#222];
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
