# Firebase Configuration
# These are automatically populated if using the AIS Firebase setup tool
FIREBASE_PROJECT_ID=
FIREBASE_DATABASE_ID=

# GitHub Integration
# (Optional) Provide a Personal Access Token (PAT) for higher rate limits or private repo access
GITHUB_TOKEN=
